@charset "UTF-8";
/* ヘッダー関係 */
header {
  position: fixed;
}

body{
  background: #ebebeb;
}

.header {
  position: relative;
  position: fixed;
  height: 80px;
  width: 100%;
  background: #f0cba5;
  -webkit-box-shadow: 0 3px 3px 0 #a36f37;
  box-shadow: 0 3px 3px 0 #a36f37;
  z-index: 1;
  justify-content: space-between;
}

.header p {
  font-size: 40px;
  line-height: 80px;
  font-style: oblique;
  font-weight: 900;
  letter-spacing: 0.3em;
  font-family: 'Corben', cursive;
}

.header-left{
  position: absolute;
  left: 0;
  margin-left: 100px;
}

.header-right {
  position: absolute;
  right: 0;
  line-height: 80px;
  margin-right: 80px;
}

.header-right a {
  color: #784f13;
  margin-left: 15px;
  text-decoration: none;
}

.header-right a:hover {
  opacity: 0.7;
}

.fa-twitter {
  font-size: 30px;
  color: #55acee;
}

.fa-envelope {
  font-size: 30px;
  color: white;
}

/* トップページメイン */
.info {
  position: relative;
  height: calc(100vh - 80px);
  padding-top: 80px;
  background: url("portback.jpg") fixed;
  background-size: cover;
  opacity: 0.8;
}

.info-menu {
  position: absolute;
  width: 100%;
  margin-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

#fadein {
  display: none;
}

.info-about, .info-work {
  height: 300px;
  float: left;
  width: 250px;
  font-family: HuiFontP109;
  color: black;
  background-image: url("menu.jpg");
  background-size: cover;
  padding: 15px;
  border: 5px solid #784f13;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 4px #666, 2px 2px 2px #111 inset;
  box-shadow: 2px 2px 4px #666, 2px 2px 2px #111 inset;
  line-height: 1.9;
}

.info-study {
  height: 300px;
  float: left;
  width: 250px;
  font-family: HuiFontP109;
  color: black;
  background-image: url("menu.jpg");
  background-size: cover;
  margin: 0 -80px;
  padding: 15px;
  border: 5px solid #784f13;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 4px #666, 2px 2px 2px #111 inset;
  box-shadow: 2px 2px 4px #666, 2px 2px 2px #111 inset;
  line-height: 1.9;
}

.info-title {
  font-size: 25px;
  text-align: center;
}

.info-about p,.info-study p,.info-work p {
  font-size: 18px;
  color: black;
}

.info-about a, .info-study a, .info-work a {
  float: right;
  font-size: 18px;
  color: black;
}

/* 各ページ */
.main-text {
  position: absolute;
  width: 900px;
  min-height: 550px;
  left: 0;
  right: 0;
  margin: 50px auto;
  padding: 20px;
  background: #ffeed1;
  border: 5px solid #784f13;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 4px #666, 2px 2px 2px #111 inset;
  box-shadow: 2px 2px 4px #666, 2px 2px 2px #111 inset;
}

/* ABOUT ME */

.more-info{
  padding-top: 80px;
}

.about-title {
  font-size: 42px;
  text-align: center;
  margin: 20px 0 40px;
}

.main-text p {
  font-size: 18px;
  margin-top: 30px;
}

.myimg{
  padding: 0 350px;
  margin: 40px 0;
}

.myimg img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

/* THE WORK */
.heading {
  font-size: 22px;
  margin-bottom: 3px;
}

/* STUDY */
.study-title{
  font-size: 42px;
  text-align: center;
  margin: 50px 0;
}

.study-text{
  text-align: center;
}

.study-text p{
  left: 0;
  right: 0;
  margin: auto;
  line-height: 50px;
  width: 60%;
  font-size: 18px;
  border: 1px solid #fcc76a;
}
.color{
  background: #f7e3c1;
}
.color2{
  background: #f7dfb5;
}

.details{
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
}
.details p{
  font-size: 18px;
}

.ten{
  font-size: 35px;
  text-align: center;
}

.empty-box{
  border-bottom: 2px solid #fcc76a;
  width: 550px;
  margin: 30px auto;
}

.language-example{
  text-decoration: underline;
  font-size: 18px;
  margin-top: 20px;
}

.study-main-text{
  position: absolute;
  width: 900px;
  min-height: 550px;
  left: 0;
  right: 0;
  margin: 50px auto;
  padding: 20px;
  background: #ffeed1;
  border: 5px solid #784f13;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 4px #666, 2px 2px 2px #111 inset;
  box-shadow: 2px 2px 4px #666, 2px 2px 2px #111 inset;
}

.study-main-text p{
  font-size: 18px;
}